{% extends "auctions/layout.html" %}

{% block body %}
    {% for listing in watchlist %}
        <hr>
        <a href="{% url 'listing' listing.listing_title %}"><h2>{{ listing.listing_title | capfirst }}</h2></a>
        {% if listing.listing_category %}
            <p>{{ listing.listing_category }}</p>
        {% endif %}
        <p>Description: {{ listing.listing_description }}</p>
        <p>Current price: {{ listing.current_bid }}</p>
        
        {% if listing.listing_image_url %}
            <img src="{{ listing.listing_image_url }}" width="400px">
        {% endif %}
        <br><br><br>
    {% empty %}
        <p>No listings on watchlist</p>
    {% endfor %}
{% endblock %}